<!DOCTYPE html>
<html>
    <head>
        <title>EPICS 应用程序开发指南</title>
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312 ">
        <meta name="Author" content="Johnson Han">
        <meta name="description" content="EPICS的应用开发文档">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
       <div class="container-fluid">
           <div class="jumbotron bg-primary">
            <h1 class="text-primary" style="text-align:center">EPICS应用程序开发指南</h1>
            <!-- <small>EPICS Application Developer's Guide</small> -->
            <blockquote class="blockquote-reverse">
                <h3 >EPICS 版本 ：3.14.11</h2>
                <h3>翻译 ：韩利峰</h3>
                <h3>2017.12.8</h2>
            </blockquote>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-md-12 bg-info">
                <h2>
                        <dl class="dl-horizontal">
                            <dt>第二章:</dt>
                            <dd>入门</dd>
                        </dl>
                </h2>
                <h3>
                    <i>
                        2.1 简介
                    </i>
                </h3> 
                <p>这章简要介绍了构建EPICS IOC的方法，内容包括：</p>
                    <ul>
                        <li>生成、编译、运行IOC应用程序的说明。</li>
                        <li>生成、编译、运行<abbr title="Channel Access" class=“text-primary” >CA</abbr>客户端的说明。</li>
                        <li>IOC Shell终端的简介。</li>
                        <li>构建IOC 元件的规则描述。</li>
                        <li>makeBaseApp.pl的使用描述，这个Perl脚本用来生成EPICS应用程序文件</li>
                        <li>简要讨论vxWORKS的启动阐述</li>
                    </ul>
                <p>
                初学者对这一章内容可能会遇到麻烦，但对于生成过IOC应用、并拥有一些EPICS IOC概念（记录/设备/驱动支持等）的用户来说，这章将会提供开发EPICS应用所需要的大部分信息。本章中的例子运行的前提是EPICS Base已经部署起来。
                </p>
                <h3>
                        <i>
                            2.2 EPICS IOC 应用程序实例
                        </i>
                </h3>
                <p>这节介绍如何在&lttop&gt文件夹下创建EPICS IOC应用程序实例。这个例子的名称为myexampleApp，ioc文件夹的设置路径为iocmyexample</p>
                <br>
                <h4> <i>2.2.1 EPICS_HOST_ARCH变量的定义</i></h4>
                <p>运行命令</p>
                <pre> echo $EPICS_HOST_ARCH   (Unix/Linux)</pre>
                <p>或</p>
                <pre> set EPICS_HOST_ARCH    (windows)</pre>
                <p>这个命令将显示计算机的系统结构，例如linux-x86或win32-x86.如果命令返回值为“未定义变量”，则需要设置“EPICS_HOST_ARCH”环境变量指向你的系统结构。变量值的格式为：操作系统+"."+主机架构，例如：solaris-sparc。在base/startup目录下的perl脚本“EpicsHostArch.pl”可以帮助完成EPICS_HOST_ARCH变量的设置。</p>
                <br>
                <h4><i>2.2.2 例子程序的创建</i></h4>
                <p>创建EPICS例子程序的命令为：</p>
                <pre>mkdir &lttop&gt
                    <br> cd &lttop&gt
                    <br>&ltbase&gt/bin/&ltarch&gt/makeBaseApp.pl -t example example
                    <br>&ltbase&gt/bin/&ltarch&gt/makeBaseApp.pl -i -t example example
                </pre>
                <p>这里&ltarch&gt表示你的操作系统结构，例如：linux-x86_64。&ltbase&gt是EPICS base软件包安装的绝对路径。例如：<br>/user/local/epics/base3.14.12.6/ ...<br>Windows 用户需要注意：perl脚本需要使用perl命令来运行。Perl脚本的名称是区分大小写的。例如在Win95/NT上构建EPICS应用：</p>
                <pre>perl C:\epics\base\bin\win32-x86\makeBaseApp.pl -t example example</pre>
                <br>
                <h4><i>2.2.3 审视生成文件</i></h4>
                <p>在运行 make 命令编译例子程序之前，建议多花点时间审视&lttop&gt目录下的文件，这将有助于理解创建EPICS应用程序生成的基础文件结构。</p>
                <br>
                <h4><i>2.2.4 顺序执行器</i></h4>
                <p>顺序执行器是EPICS IOC一个非绑定的组件。顺序执行器的例子程序包括状态机文件：snExample.stt。这个状态机不会被EPICS IOC编译和执行</p>
                <p>要想执行状态机文件，顺序执行器必须使用相同版本的EPICS base提前编译好</p>
                <p>在运行状态机sncExample之前，修改EPICS IOC例子程序的下列文件：  </p>
                <ul>
                    <li>configure/RELEASE  -设置顺序执行器的绝对路径</li>
                     <li>iocBoot/iocmyexample/st.cmd  -去掉下列命令前的“#”号</li>
                    <p>   #seq  sncExample,"user=&ltuser"</p>
                 </ul>
                 <p>Makefile 包含了命令，可以使sncExample编译为ioc应用程序的组件和独立应用层序。例如：这个应用程序运行不需要使用一个epics数据库</p>
                <br>
                <h4><i>2.2.5 编译</i></h4>
                <p>在&lttop&gt目录下运行命令：</p>
                <pre>make</pre>
                <p>注：如果GNU make不是操作系统默认的编译工具，可能需要其它命令，例如：gnumake，gmake等</p>
                <br>
                <h4><i>2.2.6 审查生成文件</i></h4>
                <p>这次你将通过对比观察到make命令产生的新文件</p>
                <br>
                <h4><i>2.2.7 运行ioc例子程序</i></h4>
                <p>例子程序可以在任一支持的操作系统上运行，例如：vxWorks，RTEMS上。</p>
                <ul>
                    <li>在linux或Solaris操作系统上</li>
                </ul>    
                    <pre>cd &lttop&gt/iocBoot/iocmyexample<br>../../bin/linux-x86/myexample st.cmd</pre>
                <ul>
                    <li>在vxWorks或RTEMS操作系统上，运行例子程序之前，需要设置一些本章最后提到的参数</li>
                </ul>
                <p>当ioc程序运行起来之后，使用一些shell命令来检测ioc的运行情况。例如：最典型 dbl 和 dbpr &ltrecordName&gt命令。这些命令将在“IOC 测试命令”一章中详细介绍。特别是 dbl 命令，能打印出ioc中所有的记录（records）。 </p>
                <p>除vxWorks之外，iocsh解析器提供了 help 测试命令，输入：</p>
                <pre>help</pre>
                <p>或</p>
                <pre>help &ltcmd&gt</pre>
                <p>&ltcmd&gt命令的帮助信息将被打印出来。help命令同样接收缩写形式，例如：</p>
                <pre>help db*</pre>
                <p>将提供所有以“db”字母开头的命令信息</p>
                <p>在vsWorks系统中，帮助命令使用，不许先键入：</p>
                <pre>iocsh</pre>
                <br>
                <h3>
                    <i>
                        2.3 CA 通道访问应用程序实例
                    </i>
                </h3>
                <br>
                <p><abbr title="Channel Access">CA 通道访问</abbr>的应用程序例子可以通过以下命令获得</p>
                <pre>cd &ltmytop&gt
                    <br> &ltbase&gt/bin/&ltarch&gt/makeBaseApp.pl -t caClientc caClient
                    <br> make
                    <br>(或 gnumake)
                </pre>
                <p>可以获得两个CA 通道访问的例子。
                    <br><ul>
                        <li>caExample -这个例子读取并在终端显示一个PV变量的值.                     
                        <br>&ltmyTop&gt/bin/&lthostArch&gt/caExample &ltpvName&gt
                        <br>&ltmyTop&gt 表示程序例子绝对路径。
                        <br>&lthostArch&gt 表示系统的结构。
                        <br>&ltpvName&gt 表示变量的名称。</li>
                        <br><li>caMonitor -这个例子程序的参数是一个文件，这个文件中包含需要监测的变量名。这个程序连接所有的变量后，监测CA事件和连接等事件的信息。</li>
                        
                    </ul>
                </p>
                <br>
                <h3>
                    <i>
                        2.4 iocsh ioc Shell
                    </i>
                </h3>
                <br>
                <p>所以EPICS base提供iocsh终端。“IOC shell终端“一章中将有更详细的描述。在主程序中，通过iocsh("fileName")或iocsh(0),来启动这个终端。其中参数文件中的命令执行完后IOC终端将会返回退出。如果参数是“0”，IOC shell终端将进入交互模式，它用来执行用户命令并显示结果，当输入“exit”命令式，退出终端交互模式。 
                <p>vxWork操纵系统中ioc shell终端不会自动运行，需要在终端中输入命令</p>
                <pre>iocsh</pre>
                <p>退出命令：</p>
                <pre>exit</pre>
                <h3>
                    <i>
                        2.5 iocsh ioc Shell
                    </i>
                </h3>
                <br>
                <p>所以EPICS base提供iocsh终端。“IOC shell终端“一章中将有更详细的描述。在主程序中，通过iocsh("fileName")或iocsh(0),来启动这个终端。其中参数文件中的命令执行完后IOC终端将会返回退出。如果参数是“0”，IOC shell终端将进入交互模式，它用来执行用户命令并显示结果，当输入“exit”命令式，退出终端交互模式。 
                <p>vxWork操纵系统中ioc shell终端不会自动运行，需要在终端中输入命令</p>
                <pre>iocsh</pre>
                <p>退出命令：</p>
                <pre>exit</pre>


            </div>
        </div>
    </body>
</html> 